.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.controls_container{
    display: flex;
    align-items: center;
}
.button{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    
}